
.paragraph {
    background-color:black;
    border: 5px groove rgb(138, 123, 93);
    text-align: center;
    color: rgb(138, 123, 93);
    font-family: "courier";
}

.h1 {
    text-align: center;
    font-family: "copperplate";
}

        
    